
.div>div{
  margin: 30px 20px;
}

.pin-lun{
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #252933;
}

.dv1{
  width: 100%;
  height: 46px;
  background-color: #3296fa;
  display: flex;


  .dv2{
    height: 33px;
    width: 98%;
    border-radius:20px 20px;
    line-height: 33px;
    background: #5babfb;
    margin: auto;
    color: white;
    text-align: center;
  }
}