////.p_note{
////  text-align: left;
////  font-size: 16px;
////  margin: 10px;
////}
//
//.p-div{
//  margin: 0;
//  padding: 15px;
//  //background: #e0d7d7;
//}
//
////.p-color{
////  color: #2c3c9a;
////}
////
////.p-b-c{
////  background: #2c3c9a !important;
////  color: white !important;
////  border: none !important;
////}
//
//.el-button{
// // background: #2c3c9a !important;
// // color: white !important;
// // border: none !important;
//  border-radius: 30px !important;
//}
//

.div>div{
  margin: 30px 20px;
}

.mybtn{
  width: 150px;
  color: #ffffff;
  background: #e0592d
}

.pin-lun{
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #252933;
}



//底部
.sc{
  color: #e0592d;
}

.hdv2-span{
  color: #ffffff;
  display: inline-block;
  padding: 30px;
}

.hdv2{
  height: 80px;
  background: #333333;
}